* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  text-align: center;
  background-color: rgb(214, 47, 103);
  color: white;
  font-size: 16px;
  font-family: sans-serif;
  padding: 18px 0;
}

.banner p {
  width: 75%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  align-items: center;
}

nav .logo img {
  width: 50%;
  max-width: 400px;
  height: auto;
  padding: 18px 10px;
}

.heroImage img {
  width: 100%;
  height: auto;
  margin-top: 22px;
}

#menu {
  cursor: pointer;
}

/* headerInfo-Box */

.headerInfo-Box {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 22px;
  margin-left: 22px;
  margin-right: 22px;
}

.headerInfo-Box h1 {
  font-family: sans-serif;
  padding: 22px 0;
}

.headerInfo-Box p {
  color: rgb(74, 73, 73);
  font-family: sans-serif;
  line-height: 1.25;
  font-size: 17px;
  padding-bottom: 22px;
}

a {
  text-decoration: none;
}

.blue-btn {
  background-color: rgb(19, 110, 236);
  padding: 16px 0;
  display: block;
  width: 92%;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: white;
  border-radius: 3px;
}

.transparent-btn {
  background-color: transparent;
  border: 2px solid rgb(19, 110, 236);
  padding: 16px 0;
  display: block;
  width: 92%;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: black;
  border-radius: 3px;
  margin-bottom: 32px;
}

.cover {
  display: none;
  text-align: left;
  width: 100%;
  height: 75vh;
  position: absolute;
  top: 135px;
  background-color: white;
}

.cover ul {
  list-style: none;
  margin-top: 22px;
}

.cover ul li {
  font-size: 22px;
  font-family: sans-serif;
  padding: 22px 0;
  margin-left: 20px;
}

/* company-section */

.companies-section {
  text-align: center;
  font-family: sans-serif;
  font-size: 17px;
  margin-left: 22px;
  margin-right: 22px;
  margin-bottom: 32px;
}

.companies-section h2 {
  padding: 32px 0;
}

.company-logos img {
  max-width: 45%;
  height: auto;
  padding: 0 22px;
}

#boxLogo {
  max-width: 30%;
  height: auto;
}
