@media only screen and (min-width: 774px) {
  .heroImage {
    width: 50%;
    height: auto;
  }
  .heroSection {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 32px auto;
  }
  .headerInfo-Box {
    text-align: left;
    width: 45%;
  }
  .blue-btn {
    text-align: center;
    margin: 0;
    min-width: 115px;
    max-width: 25%;
    margin-right: 22px;
  }
  .cover ul li.noUse {
    display: none;
  }
  .blue-btn:hover {
    background-color: rgb(8, 81, 184);
  }
  .headerInfo-Box h1 {
    font-size: 42px;
  }
  .headerInfo-Box p {
    font-size: 21px;
    word-spacing: 5px;
    color: rgb(94, 93, 93);
  }
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }
  .full-nav {
    display: block;
  }
  #menu {
    display: none;
  }
  .companies-section h2 {
    font-size: 18px;
    font-weight: 600;
    color: rgb(94, 93, 93);
    letter-spacing: 1.5px;
  }
  .company-logos img {
    min-width: 10%;
    max-width: 15%;
  }
  .company-logos {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  #task {
    max-width: 15%;
  }
  #boxLogo {
    max-width: 10%;
  }

  .full-nav {
    display: flex;
  }
  .cover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: static;
    background-color: transparent;
  }
  .cover ul {
    display: flex;
    margin-bottom: 20px;
  }
  .transparent-btn {
    background-color: transparent;
    border: 2px solid rgb(19, 110, 236);
    padding: 15px 20px;
    display: block;
    width: 100%;
    margin: 0;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: rgb(66, 65, 65);
    border-radius: 3px;
  }
  .transparent-btn:hover {
    background-color: whitesmoke;
  }
}
