body {
  overflow-x: hidden;
  overflow-y: hidden;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(255, 255, 255);
}

header h1 {
  text-align: center;
  font-family: sans-serif;
  color: rgb(46, 46, 46);
  width: 40%;
  margin: 0 auto;
  letter-spacing: 2px;
  word-spacing: 3px;
  border: 3px solid rgb(0, 0, 0);
  padding: 12px 32px;
  margin-bottom: 32px;
}

form {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: wheat;
  color: black;
  font-family: sans-serif;
  padding: 32px;
  border: 2px solid black;
  border-radius: 5px;
  min-width: 25%;
}

form label {
  margin-bottom: 4px;
  font-size: 32px;
}

form input {
  margin-bottom: 12px;
  font-size: 32px;
  padding: 4px;
}

form .btn {
  text-align: center;
  width: 20%;
  min-width: 112px;
  font-size: 22px;
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 12px 12px;
  border-radius: 5px;
  border: 2px solid white;
  margin-top: 32px;
  cursor: pointer;
}

form .btn:hover {
  background-color: rgb(15, 15, 15);
}

form a.btn {
  text-decoration: none;
  color: white;
  width: 16.5%;
  min-width: 88px;
}
